$primary-color:#00A38D;
$secondary-color:#145462;
$dark:#707070;
$light:#fff8EB;
$background:#EEF8FC;

$font-weights:(
    "regular":400,
    "bold": 700,
    "extra-bold":800
);

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

