



@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


.App{
    font-family: 'Nanum Gothic', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width:50%;
    margin: auto;    
}

.main{
    flex-grow:1;
    width:100%;
    
}
