@import '../../variables';


.Story__name{
    text-align: center;
    color:$on-surface;
    font-weight: weight(bold);
    margin:30px 0;
}

.Story__load-more{
    
    width:100%;
    padding:15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: $primary-color;
    border: none;
    color: white;
    box-shadow: $box-shadow;
    outline: none;
    font-weight: weight(bold);
    cursor: pointer;
   
}

.story_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;    
}
.story_grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      
  }
  
  .story_three-card {
    background-color:$surface;
    border-radius: 5px;
    box-shadow: 
      -2px 1px 5px rgba(0,0,0,.3),
      -10px 10px 1px 0px  #f1e6db,
      -12px 11px 5px rgba(0,0,0,.3),
      -20px 20px 1px 0px  #f1e6db,
      -22px 21px 5px rgba(0,0,0,.3);
       padding: 1em;
  }

  .story_pages{
      flex-direction: column;
      width: 80%;
      align-items: center;
  }

  .story_page__hr{
      width:100%;
  }


  .story_three-card__button{
    border-radius: 5px;
    background-color:$surface;
    margin: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 
    -2px 1px 5px rgba(0,0,0,.3),
    -5px 5px 1px 0px  #f1e6db,
    -5px 5px 5px rgba(0,0,0,.3),
    -10px 10px 1px 0px  #f1e6db,
    -10px 10px 5px rgba(0,0,0,.3);
     padding: 1em;
  }

  