@import '../../variables';


.Story__name{
    text-align: center;
    color:$on-surface;
    font-weight: weight(bold);
    margin:30px 0;
}

.Story__load-more{
    
    width:100%;
    padding:15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: $primary-color;
    border: none;
    color: white;
    box-shadow: $box-shadow;
    outline: none;
    font-weight: weight(bold);
    cursor: pointer;
   
}

.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
.story-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      
  }
  
  
  .card {
    background-color: aquamarine;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    padding: 1em;
  }