@import '../../variables';


.Header{
    color:$primary-color;
    padding:20px;
    
    #{&}_logo{
        text-transform: uppercase;
        font-weight: weight(extra-bold);
        letter-spacing: 2px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;    
    }
    
}

