@import '../../variables';


.Header{
    
    padding:20px;
    
    
   #{&}_link{
        color:$primary-color;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: map-get($font-weights, extra-bold);
        letter-spacing: 2px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer; 
    }
    
}



